workflow.json
{
  "name": "Kokpit rozbieżności kursowych (multi-Azure, multi-platforma)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 6 * * *" } ] }
      },
      "id": "node-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [ -1340, 200 ]
    },
    {
      "parameters": {
        "jsCode": "// Jedno źródło prawdy.\n// UWAGA: SAS tokeny wygasają — przed wdrożeniem produkcyjnym zastąp je\n// tokenami bez daty wygaśnięcia lub przejdź na Managed Identity.\nreturn [{ json: {\n  tolerancePct: 0.5,\n  criticalMultiplier: 4,\n  trackCurrencies: ['EUR','USD','GBP','CHF'],\n  gotenbergUrl: 'http://gotenberg:3000',\n  blobBase: 'https://genaimbank20146287194.blob.core.windows.net/azureml',\n  recipients: 'risk-team@example.com',\n  fileSource: 'blob',\n  machines: [\n    {\n      name: 'vm-1',\n      blob: 'https://genaimbankdp8236668111.blob.core.windows.net/azureml/fx/transactions-vm1.csv?sp=rw&st=2026-06-25T12:09:50Z&se=2026-06-25T20:24:50Z&spr=https&sv=2026-02-06&sr=c&sig=zCTeBKYo0ZGhkBWRN6MKMspBFC43p9Jyp284JiSZYWE%3D'\n    },\n    {\n      name: 'vm-2',\n      blob: 'https://genaimbank20146287194.blob.core.windows.net/azureml/fx/transactions-vm2.csv?sp=rw&st=2026-06-25T12:07:34Z&se=2026-06-25T20:22:34Z&spr=https&sv=2026-02-06&sr=c&sig=a1%2FNiDmjegadnGn3PQoY%2B53xZrJQkSJ%2FDODiHw%2FE40A%3D'\n    }\n  ],\n  platforms: [\n    { name: 'NBP', url: 'https://api.nbp.pl/api/exchangerates/tables/A?format=json' },\n    { name: 'ECB', url: 'https://api.frankfurter.app/latest?from=EUR' }\n  ]\n}}];"
      },
      "id": "node-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -1140, 200 ]
    },
    {
      "parameters": {
        "jsCode": "// JSON.parse/stringify wymusza plain objects — unikamy n8n Proxy, który wewnętrznie ma klucz 'json'.\nconst machines = JSON.parse(JSON.stringify($('Set Config').first().json.machines));\nreturn machines.map(m => ({ json: { name: m.name, blob: m.blob } }));"
      },
      "id": "node-machines",
      "name": "Machines List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -920, 60 ]
    },
    {
      "parameters": {
        "url": "={{ $json.blob }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "data"
            }
          },
          "timeout": 15000
        }
      },
      "id": "node-fetch-blob",
      "name": "Fetch Files (Blob)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ -700, 60 ],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// JSON.parse/stringify na danych z innych węzłów → plain objects, brak Proxy.\nconst machineNames = JSON.parse(JSON.stringify($('Machines List').all().map(i => i.json.name)));\nconst inputItems = $input.all();\nconst rows = [];\nfor (let i = 0; i < inputItems.length; i++) {\n  const csv = String(inputItems[i].json.data || '');\n  const machineName = machineNames[i] || ('machine-' + (i + 1));\n  if (!csv.trim()) continue;\n  const lines = csv.trim().split('\\n');\n  for (const line of lines.slice(1)) {\n    const parts = line.split(',');\n    if (parts.length < 6 || !parts[0].trim()) continue;\n    const [txId, ts, pair, amount, rate, counterparty] = parts;\n    rows.push({ json: {\n      machine: String(machineName),\n      txId: txId.trim(),\n      ts: ts.trim(),\n      pair: pair.trim(),\n      amount: Number(amount.trim()),\n      rate: Number(rate.trim()),\n      counterparty: (counterparty || '').trim()\n    }});\n  }\n}\nreturn rows;"
      },
      "id": "node-parse-tx",
      "name": "Parse & Normalize TX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -480, 60 ]
    },
    {
      "parameters": {
        "jsCode": "const platforms = JSON.parse(JSON.stringify($('Set Config').first().json.platforms));\nreturn platforms.map(p => ({ json: { name: p.name, url: p.url } }));"
      },
      "id": "node-platforms",
      "name": "Platforms List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -920, 380 ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": { "timeout": 15000 }
      },
      "id": "node-fetch-rates",
      "name": "Fetch Rates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ -700, 380 ],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Każda platforma -> wspólny format { platform, pair: 'XXX/PLN', rate, ts }.\n// Wylicza kursy krzyżowe do PLN, aby NBP i ECB pokrywały te same pary.\nconst now = $now.toISO();\nconst want = ($('Set Config').first().json.trackCurrencies) || ['EUR','USD','GBP','CHF'];\nconst out = [];\nfor (const item of $input.all()) {\n  const b = item.json;\n  // --- NBP (tabela A): [{ effectiveDate, rates:[{code, mid}] }] albo pojedynczy obiekt tabeli ---\n  const nbpTables = Array.isArray(b)\n    ? b\n    : (b.rates && Array.isArray(b.rates) && b.rates[0] && 'code' in b.rates[0]) ? [b] : null;\n  if (nbpTables) {\n    for (const t of nbpTables) {\n      for (const r of t.rates) {\n        if (want.includes(r.code)) out.push({ json: { platform: 'NBP', pair: r.code + '/PLN', rate: r.mid, ts: t.effectiveDate || now } });\n      }\n    }\n    continue;\n  }\n  // --- Frankfurter/ECB (base=EUR): { base:'EUR', date, rates:{ USD, PLN, ... } } ---\n  if (b.rates && b.base) {\n    const pln = b.rates.PLN;\n    const ts = b.date || now;\n    if (pln != null) {\n      if (want.includes('EUR')) out.push({ json: { platform: 'ECB', pair: 'EUR/PLN', rate: pln, ts } });\n      for (const C of want) {\n        if (C === 'EUR') continue;\n        const eurPerC = b.rates[C];\n        if (eurPerC) out.push({ json: { platform: 'ECB', pair: C + '/PLN', rate: pln / eurPerC, ts } });\n      }\n    }\n    continue;\n  }\n  // --- generyczna platforma: { platform, pair, rate, ts } ---\n  if (b.pair && b.rate != null) out.push({ json: { platform: b.platform || 'OTHER', pair: b.pair, rate: b.rate, ts: b.ts || now } });\n}\nreturn out;"
      },
      "id": "node-norm-rates",
      "name": "Normalize Rates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -480, 380 ]
    },
    {
      "parameters": { "mode": "append" },
      "id": "node-merge",
      "name": "Sync (Merge)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [ -60, 200 ]
    },
    {
      "parameters": {
        "jsCode": "// Uzgodnienie: odchylenie kursu transakcji od każdej platformy (najbliższy czasowo kurs).\nconst txs = $('Parse & Normalize TX').all().map(i => i.json);\nconst rates = $('Normalize Rates').all().map(i => i.json);\nconst cfg = $('Set Config').first().json;\nconst tol = cfg.tolerancePct ?? 0.5;\nconst critX = cfg.criticalMultiplier ?? 4;\nconst platforms = [...new Set(rates.map(r => r.platform))];\nfunction refRate(pair, platform, ts) {\n  const c = rates.filter(r => r.pair === pair && r.platform === platform);\n  if (!c.length) return null;\n  c.sort((a, b) => Math.abs(new Date(a.ts) - new Date(ts)) - Math.abs(new Date(b.ts) - new Date(ts)));\n  return c[0].rate;\n}\nconst out = [];\nfor (const t of txs) {\n  const row = { machine: t.machine, txId: t.txId, pair: t.pair, ts: t.ts, usedRate: t.rate, refs: {}, maxDeviationPct: 0, worstPlatform: null, severity: 'OK' };\n  for (const p of platforms) {\n    const rr = refRate(t.pair, p, t.ts);\n    if (rr == null) { row.refs[p] = null; continue; }\n    const dev = ((t.rate - rr) / rr) * 100;\n    row.refs[p] = { rate: Math.round(rr * 1e6) / 1e6, deviationPct: Math.round(dev * 1e4) / 1e4 };\n    if (Math.abs(dev) > Math.abs(row.maxDeviationPct)) { row.maxDeviationPct = Math.round(dev * 1e4) / 1e4; row.worstPlatform = p; }\n  }\n  const ad = Math.abs(row.maxDeviationPct);\n  row.severity = ad > tol * critX ? 'CRITICAL' : ad > tol ? 'WARNING' : 'OK';\n  out.push({ json: row });\n}\nreturn out;"
      },
      "id": "node-reconcile",
      "name": "Reconcile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 180, 200 ]
    },
    {
      "parameters": {
        "jsCode": "// Wielostronicowy HTML (page-break per sekcja). Pełna wersja opisana w README.md.\nconst rows = $input.all().map(i => i.json);\nconst cfg = $('Set Config').first().json;\nconst ts = $now.toISO();\nconst byMachine = {};\nfor (const r of rows) (byMachine[r.machine] ??= []).push(r);\nconst crit = rows.filter(r => r.severity === 'CRITICAL');\nconst warn = rows.filter(r => r.severity === 'WARNING');\nconst fmt = n => (n > 0 ? '+' : '') + Number(n).toFixed(4) + '%';\nconst css = '<style>body{font-family:system-ui,Arial;color:#0f172a;margin:0}.page{padding:32px;min-height:100vh;box-sizing:border-box}@media print{.page{page-break-after:always}}h1{margin:0 0 4px}table{width:100%;border-collapse:collapse;font-size:12px}th,td{border:1px solid #cbd5e1;padding:6px 8px;text-align:left}.crit{color:#b91c1c;font-weight:700}.warn{color:#b45309}.ok{color:#15803d}.kpi{display:inline-block;margin-right:24px;font-size:20px;font-weight:700}</style>';\nconst row = r => '<tr><td>' + r.txId + '</td><td>' + r.pair + '</td><td>' + r.usedRate + '</td><td>' + (r.worstPlatform ?? '—') + '</td><td class=\"' + r.severity.toLowerCase() + '\">' + fmt(r.maxDeviationPct) + '</td><td class=\"' + r.severity.toLowerCase() + '\">' + r.severity + '</td></tr>';\nlet html = css + '<div class=\"page\"><h1>Raport rozbieżności kursowych</h1><div>Wygenerowano: ' + ts + ' · próg ' + cfg.tolerancePct + '%</div><hr/><div class=\"kpi\">Transakcje: ' + rows.length + '</div><div class=\"kpi warn\">WARNING: ' + warn.length + '</div><div class=\"kpi crit\">CRITICAL: ' + crit.length + '</div><p>Maszyny: ' + Object.keys(byMachine).join(', ') + '</p></div>';\nfor (const [m, list] of Object.entries(byMachine)) {\n  html += '<div class=\"page\"><h1>Maszyna: ' + m + '</h1><table><thead><tr><th>txId</th><th>Para</th><th>Kurs użyty</th><th>Najgorsza platforma</th><th>Maks. odchylenie</th><th>Status</th></tr></thead><tbody>' + list.map(row).join('') + '</tbody></table></div>';\n}\nhtml += '<div class=\"page\"><h1>Załącznik — przekroczenia CRITICAL</h1><table><thead><tr><th>Maszyna</th><th>txId</th><th>Para</th><th>Platforma</th><th>Odchylenie</th></tr></thead><tbody>' + crit.map(r => '<tr><td>' + r.machine + '</td><td>' + r.txId + '</td><td>' + r.pair + '</td><td>' + r.worstPlatform + '</td><td class=\"crit\">' + fmt(r.maxDeviationPct) + '</td></tr>').join('') + '</tbody></table></div>';\nreturn [{ json: { generatedAt: ts, total: rows.length, critical: crit.length, warning: warn.length, fileName: 'report-' + ts.slice(0,10) + '.pdf', html } }];"
      },
      "id": "node-report",
      "name": "Build HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 400, 80 ]
    },
    {
      "parameters": {
        "jsCode": "// Zamienia pole json.html na plik binarny 'index.html' dla Gotenberga.\nconst item = $input.first();\nconst html = item.json.html || '';\nconst bin = await this.helpers.prepareBinaryData(Buffer.from(html, 'utf8'), 'index.html', 'text/html');\nreturn [{ json: item.json, binary: { 'index.html': bin } }];"
      },
      "id": "node-html-bin",
      "name": "HTML → binary (index.html)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 600, 80 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').first().json.gotenbergUrl }}/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "parameterType": "formBinaryData", "name": "files", "inputDataFieldName": "index.html" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "file", "outputPropertyName": "data" } } }
      },
      "id": "node-pdf",
      "name": "HTML → PDF (Gotenberg)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 820, 80 ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Set Config').first().json.blobBase }}/{{ $('Build HTML Report').first().json.fileName }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "x-ms-blob-type", "value": "BlockBlob" }, { "name": "Content-Type", "value": "application/pdf" } ] },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data"
      },
      "id": "node-blob-up",
      "name": "Upload Report to Blob",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1040, 80 ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "fromEmail": "raporty@example.com",
        "toEmail": "={{ $('Set Config').first().json.recipients }}",
        "subject": "=Raport rozbieżności kursowych — {{ $('Build HTML Report').first().json.generatedAt.slice(0,10) }} (CRITICAL: {{ $('Build HTML Report').first().json.critical }})",
        "emailFormat": "text",
        "text": "=Transakcje: {{ $('Build HTML Report').first().json.total }} · WARNING: {{ $('Build HTML Report').first().json.warning }} · CRITICAL: {{ $('Build HTML Report').first().json.critical }}. Raport w załączniku.",
        "options": { "attachments": "data" }
      },
      "id": "node-email",
      "name": "Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [ 1260, 80 ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            { "leftValue": "={{ $json.severity }}", "rightValue": "CRITICAL", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "id": "node-filter-crit",
      "name": "Filter CRITICAL",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [ 400, 400 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://outlook.office.com/webhook/REPLACE_TEAMS_WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: '🚨 CRITICAL rozbieżność: ' + $json.txId + ' ' + $json.pair + ' (' + $json.worstPlatform + ') odchylenie ' + $json.maxDeviationPct + '% na ' + $json.machine }) }}"
      },
      "id": "node-teams",
      "name": "Alert Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 620, 400 ]
    },
    {
      "parameters": {},
      "id": "node-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [ 400, 640 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://outlook.office.com/webhook/REPLACE_TEAMS_WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: '❌ Workflow padł w węźle: ' + ($json.execution?.lastNodeExecuted ?? '?') + ' — ' + ($json.execution?.error?.message ?? 'błąd') }) }}"
      },
      "id": "node-notify-fail",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 620, 640 ]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [ [ { "node": "Set Config", "type": "main", "index": 0 } ] ] },
    "Set Config": { "main": [ [ { "node": "Machines List", "type": "main", "index": 0 }, { "node": "Platforms List", "type": "main", "index": 0 } ] ] },
    "Machines List": { "main": [ [ { "node": "Fetch Files (Blob)", "type": "main", "index": 0 } ] ] },
    "Fetch Files (Blob)": { "main": [ [ { "node": "Parse & Normalize TX", "type": "main", "index": 0 } ] ] },
    "Parse & Normalize TX": { "main": [ [ { "node": "Sync (Merge)", "type": "main", "index": 0 } ] ] },
    "Platforms List": { "main": [ [ { "node": "Fetch Rates", "type": "main", "index": 0 } ] ] },
    "Fetch Rates": { "main": [ [ { "node": "Normalize Rates", "type": "main", "index": 0 } ] ] },
    "Normalize Rates": { "main": [ [ { "node": "Sync (Merge)", "type": "main", "index": 1 } ] ] },
    "Sync (Merge)": { "main": [ [ { "node": "Reconcile", "type": "main", "index": 0 } ] ] },
    "Reconcile": { "main": [ [ { "node": "Build HTML Report", "type": "main", "index": 0 }, { "node": "Filter CRITICAL", "type": "main", "index": 0 } ] ] },
    "Build HTML Report": { "main": [ [ { "node": "HTML → binary (index.html)", "type": "main", "index": 0 } ] ] },
    "HTML → binary (index.html)": { "main": [ [ { "node": "HTML → PDF (Gotenberg)", "type": "main", "index": 0 } ] ] },
    "HTML → PDF (Gotenberg)": { "main": [ [ { "node": "Upload Report to Blob", "type": "main", "index": 0 } ] ] },
    "Upload Report to Blob": { "main": [ [ { "node": "Email Report", "type": "main", "index": 0 } ] ] },
    "Filter CRITICAL": { "main": [ [ { "node": "Alert Teams", "type": "main", "index": 0 } ] ] },
    "Error Trigger": { "main": [ [ { "node": "Notify Failure", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {}
}
